@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  vertical-align: middle;
}
.ramda {
  width: 334px;
  height: 79px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.mda {
  color: #4bcaff;
}
.top-menu {
  display: flex;
  width: 1280px;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  line-height: 100%;
  vertical-align: bottom;
  border: 1px solid #ffffff;
  background: #35444f;
}
.top-menu-1 {
  width: 162px;
  padding: 0%;
  border-right: 1px solid #ffffff;
}
.top-menu-2 {
  width: 266px;
  height: 27px;
  left: 194px;
  top: 143px;
  padding: 26px 32px 19px 32px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.top-menu-2:hover {
  background: #222f3a;
}
.top-menu-3 {
  width: 77px;
  height: 27px;
  left: 530px;
  top: 143px;
  padding: 26px 38px 19px 38px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.top-menu-3:hover {
  background: #222f3a;
}
.top-menu-4 {
  width: 204px;
  height: 27px;
  left: 685px;
  top: 143px;
  padding: 26px 40px 19px 40px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.top-menu-4:hover {
  background: #222f3a;
}
.top-menu-5 {
  width: 163px;
  height: 27px;
  left: 969px;
  top: 143px;
  padding: 26px 18px 19px 18px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
.top-menu-5:hover {
  background: #222f3a;
}
.top-menu-6 {
  width: 133px;
  padding: 0%;
}
.link-top {
  text-decoration: none;
  color: #ffffff;
}
.main {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 840px;
  padding-top: 48px;
}
.sidebar {
  width: 344px;
  height: 399px;
  display: inline-block;
  font-family: Roboto;
  font-style: Regular;
  font-size: 27px;
  line-height: 27px;
  font-weight: 400;
  border: 1px solid #dfdfdf;
  box-sizing: content-box;
}
.sidebar-ramda {
  color: #495863;
  padding: 26px 194px 25px 44px;
  width: 106px;
  height: 27px;
  left: 44px;
  top: 26px;
  transition: 0.2s;
}
.sidebar-ramda:hover {
  background: #dbdbdb;
}
.why-ramda {
  padding: 27px 78px 25px 44px;
  width: 226px;
  height: 27px;
  left: 39px;
  top: 105px;
}
.why-ramda:hover {
  background: #dbdbdb;
}
.different {
  padding: 27px 82px 25px 44px;
  width: 220px;
  height: 27px;
  left: 42px;
  top: 184px;
}
.different:hover {
  background: #dbdbdb;
}
.introductions {
  padding: 27px 121px 25px 44px;
  width: 179px;
  height: 27px;
  left: 44px;
  top: 263px;
}
.introductions:hover {
  background: #dbdbdb;
}
.philosophy {
  padding: 27px 147px 25px 44px;
  width: 153px;
  height: 27px;
  left: 44px;
  top: 342px;
}
.philosophy:hover {
  color: #000000;
  background: #dbdbdb;
  margin-left: 10px;
  transition: ;
}
.link {
  text-decoration: none;
  color: #0c1927;
}
.link:hover {
  font-weight: 600;
  color: #000000;
  transition: 0.2s;
  padding-left: 20px;
}
.main-content {
  display: inline-block;
  width: 885px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #dfdfdf;
}
.text-1 {
  padding-top: 37px;
  padding-bottom: 34px;
  font-family: Roboto;
  font-style: Regular;
  font-size: 18px;
  line-height: 24px;
}
.text-2 {
  font-family: Roboto;
  font-style: Regular;
  font-size: 18px;
  line-height: 24px;
}
.footer-menu {
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin-top: 54px;
  height: 69px;
  left: 0px;
  top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 28px;
  line-height: 100%;
  background: #63696e7a;
}
.footer-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 135px;
  font-size: 24px;
  width: 190px;
  height: 69px;
}
.link__footer {
  text-decoration: none;
  color: #0c1927;
  box-sizing: border-box;
}

.link__footer:hover {
  color: rgba(49, 129, 166, 1);
}
